body {
  background-color: rgb(192, 192, 192);
}

.App {
  text-align: center;
}

.homepage {
  margin-top: 20%;
  font-size: xx-large;
}

.carpic {
  margin: 10%;
  height: fit-content;
  width: fit-content;
  max-width: 500px;
}